script(src="js/jquery/dist/jquery.min.js")
script(src="js/libs.js")
script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2ehfbKbUIwKZVxchlS50tAb9P4zSuFXk")
script(src="js/common.js")
